

<ion-content (ionScroll)="onScroll($event)">
    <div  #bgselector (tap)="removeSelect()">

      </div>
  <div class='canvasBackg' [style.background-image]="'url('+playlist['thmb_src']+')'">
      <div class='canvasBackOpt'  >
       
          <ion-icon name="arrow-back"  (click)="dismisView()"></ion-icon>
     
    </div>

  </div>
  <div class='canvasHeader' #canvasHeader>
    <div class='canvasTitle'>
        <div class='canvasTitleOpt'  >
       
            
       
      </div>
      <div class='canvasTitleIn' text-center>{{playlist['playlist_name']}}</div>
      <div class='canvasTitleOpt' *ngIf="allowUpload">
      
            <ion-icon name="add"></ion-icon>
       
      </div>
    </div>
    <div class='canvasBy'>
       <div class='canvasByIn'>
        <div class='canvasByIn0'>
            <div class='canvasCr'>
             <div class='canvasCr0'><img [src]="playlist['pic_url']"/></div>
              <div class='canvasCr1'>
                <div>{{playlist['full_name']}}</div>
                <div  class='canvasCrT'>{{playlist['time']}}</div>
               </div>
            </div>
        </div>
       
        <div
         class='canvasByIn1'>
            <ion-icon name="add" (click)="addType()" *ngIf="add_status"></ion-icon>
          </div>
          <div
          class='canvasByIn1'(tap)="deleteFromStore()"  *ngIf="delete_status">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
           </div>
           <div class='canvasByIn1'>
              <ion-icon name="paper-plane" (click)="suggestFriend()"></ion-icon>
          </div>
          <div class='canvasByIn1'>
              <ion-icon ios="ios-more" md="md-more"  (click)="moreOption()"></ion-icon>
            </div>
       </div>
      </div>
  </div>

  <ion-row>

    
        
        
      <ion-col col-6 col-md-4 col-xl-3  *ngFor="let music of plysong; let i=index">
          <div class='updateboxM' [style.background-image]="'url('+music['thmb_src']+')'" (tap)="playMusic(i)" (press)="selectMe($event,i)">
            
            <div class='music_name'> <ion-icon name='musical-notes'></ion-icon> {{music['music_name']}}</div>
          </div>

        </ion-col>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
 

   
  </ion-row>
  <div class='paddingAr'>

      </div>



  <div class='viewerFooter'>
  
   
     
     
      <reaction-temp [activity]="reactStatus"  (reactEmiiter)="loadInitialReactionV()"></reaction-temp>

          
         
           

   
    <ion-row class="padding5 ">
      <ion-col class="padding5 viewInfo" text-center>
         {{playlist['add_by']}} Added
      </ion-col >
      <ion-col class="padding5 viewInfo" text-center>
        {{playlist['sub_by']}} Suggested
      </ion-col>
      <ion-col class="padding5 viewInfo" text-center>
        {{playlist['view']}} Viewed
      </ion-col>
    </ion-row>

  </div>

</ion-content>
