page-main-tab {


  
}


ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="custom-icon1"] {
        mask-image: url(../assets/icon/home.svg);
    }
    &[class*="custom-icon2"] {
        mask-image: url(../assets/icon/music.svg);
    }
    &[class*="custom-icon3"] {
        mask-image: url(../assets/icon/viral.svg);
    }
    &[class*="custom-icon4"] {
        mask-image: url(../assets/icon/mystore.svg);
    }
    &[class*="custom-icon5"] {
        mask-image: url(../assets/icon/adda.svg);
    }
    &[class*="custom-icon6"] {
        mask-image: url(../assets/icon/search.svg);
    }
    &[class*="custom-icon7"] {
        mask-image: url(../assets/icon/notification.svg);
    }
    &[class*="custom-icon8"] {
        mask-image: url(../assets/icon/friendrequest.svg);
    }
    &[class*="custom-icon9"] {
        mask-image: url(../assets/icon/chat.svg);
    }
    &[class*="custom-icon10"] {
        mask-image: url(../../assets/icon/upload.svg);
    }
    &[class*="custom-icon11"] {
        mask-image: url(../../assets/icon/send.svg);
    }
    &[class*="custom-icon12"] {
        mask-image: url(../../assets/icon/comment.svg);
    }

    &[class*="custom-icon13"] {
        mask-image: url(../../assets/icon/1f60d.svg);
    }
    &[class*="custom-icon14"] {
        mask-image: url(../../assets/icon/1f632.svg);
    }
    &[class*="custom-icon15"] {
        mask-image: url(../../assets/icon/1f600.svg);
    }
    &[class*="custom-icon16"] {
        mask-image: url(../../assets/icon/1f622.svg);
    }
    &[class*="custom-icon17"] {
        mask-image: url(../../assets/icon/1f621.svg);
    }

    &[class*="custom-icon18"] {
        mask-image: url(../../assets/icon/next.svg);
    }
    &[class*="custom-icon19"] {
        mask-image: url(../../assets/icon/pause.svg);
    }
    &[class*="custom-icon20"] {
        mask-image: url(../../assets/icon/prev.svg);
    }
    &[class*="custom-icon21"] {
        mask-image: url(../../assets/icon/emoIcon.svg);
    }


   
}

