page-landing {
    .slider-wraper
    {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
        position: fixed;
        top:0px;
       
        z-index: 1;
    }

    .slider-wraper-inner
    {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .top-center
    {
       
        top:50%;
        transform: translate(0%,-50%);
        -webkit-transform:translate(0%,-50%);
        -moz-transform:translate(0%,-50%);
        -o-transform:translate(0%,-50%);
        
    }

  

    .slide-center-tag
    {
        position: fixed;
        width: 100%;
        text-align: center;
        z-index: 2;
        text-rendering:optimizeLegibility;
    }

    .slider-wraper-getStart
    {
        position: fixed;
        bottom: 100px;
        z-index: 2;
        width: 100%;
        
    }

    .getStart-button
    {
        letter-spacing: 2px;
        text-transform: none;
        padding-left: 70px;
        padding-right: 70px;
    }


   

    .slider-wraper-getStart-Inner
    {
        position: relative;
        text-align: center;

    }


}
