page-music-store {
  
    .scroll-content
    {
      margin-top: 100px !important;
    }


        .cnvasBg
        {
          height:180px;
          width: 100%;
          position: relative;
          background-size: cover;
        }
    
        .canvasCont
        {
          width:100%;
          padding: 5px;
          text-align: center;
          font-weight: 400;
          color:#333;
          letter-spacing: 0.8px;
          font-size: 1.2em;
        }

        .contenNo
    {
      letter-spacing: 0.6px;
      font-size: .9em;
      text-align: center;
      color: #736f6f;

    }


}


.music_name
{
    padding: 10px;
    padding-bottom: 15px;
    background: rgba(0,0,0,0.4);
    color:white;
    font-weight: normal;
    text-shadow: 0 0 3px rgba(0,0,0,1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: left;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
        text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.85em;

}



.updateboxM
{
  
    
    height: 40vw;
    border-radius: 8px;
   position: relative;
  background-size: cover;
   box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
}