<ion-header>

  <ion-navbar>
    <ion-title>MusicStore</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

  <ion-segment  class="SwipedTabs-tabs"  >
    <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
    [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
      {{tab}}
    </ion-segment-button>
  </ion-segment>

  <!-- here is our dynamic line  "indicator"-->
  <div id='indicator1' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>

  <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
              (ionSlideWillChange)="updateIndicatorPosition()"
              (ionSlideDidChange)="updateIndicatorPosition()"
              (pan)="updateIndicatorPosition()"
              [pager]="false"
        >
    <ion-slide>
      <ion-row>
        
        
          <ion-col col-6 col-md-4 col-xl-3 padding *ngFor="let music of musicArray; let i=index">
              <div class='updatebox' [style.background-image]="'url('+music['thmb_src']+')'">
                
                <div class='music_name'> <ion-icon name='musical-notes'></ion-icon> {{music['music_name']}}</div>
              </div>
    
            </ion-col>

            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <h1> PlayList </h1>
    </ion-slide>
  </ion-slides>
</ion-content>