<ion-header class='mainHeaderTop'>

  <ion-navbar>
    <header-temp></header-temp>
  </ion-navbar>

</ion-header>

<ion-content padding (tap)="closeSearch($event)">
  <viralheader-temp></viralheader-temp>
  <div  #bgselector (click)="removeSelect()">

  </div>
    <ion-row *ngIf="search && text!=''">
      <h2>Searchig for "{{text}}"</h2>
    </ion-row>
    <ion-row padding>
        <div class="flexbin flexbin-margin">
          <div *ngFor="let image of viralImageArray;let i=index" (tap)="imageZoomViral(i)" (press)="selectMe($event,i)">
              <img src="{{image['image_url']}}" />
          </div>
         
      </div>

      <ion-infinite-scroll (ionInfinite)="doInfiniteViralImg($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      </ion-row>

      <div class='viralSearch'>
       
          <ion-searchbar (ionInput)="onInput($event)" (tap)="stopClose()"
          (ionCancel)="onCancel($event)" class='searchbarRadius' *ngIf="search"></ion-searchbar>
          <div class='viralSearchIcon' (tap)="onSearch()"  *ngIf="!search">
              <ion-icon name="search" ></ion-icon>
          </div>
  </div>

</ion-content>
