page-addlocation {

    agm-map {
        height: 300px;
        width: 100%;
      }

      .map{
          height: 300px;
          width: 100%;
          margin: 5px;
      }

      .googleMapSearch
      {
          width: 100%;
          height: 40px;
          margin: 5px;
         font-size: 1.3em;
          border-width:0px; 
          border-bottom:solid 1px #c2c2c2;
          padding: 5px;
         
      }

      .loctionAdd
      {
          margin-top: 20px;
      }

}
