
<ion-content >

  <div class='viewerBg'>
    <div class='viewerTop'>
      <div class='viewerTopIn'>
          <div class='viewerTopOpt'>
              <button ion-button clear  (click)="dismissImageView()" class='viewClose'>
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
          </div>
          <div class='viewerTopOpt1'>
              <button ion-button clear  (click)="imageSuggest()" class='viewClose'>
                  <ion-icon name="paper-plane"></ion-icon>

                </button>
                <button ion-button clear  (click)="addType()" class='viewClose' *ngIf="add_status">
                    <ion-icon name="add"></ion-icon>
                  </button>
                  <button ion-button clear  (click)="deleteFromStore()" class='viewClose' *ngIf="delete_status">
                      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>

                  <button ion-button clear  (click)="moreOption()" class='viewClose'>
                       <ion-icon ios="ios-more" md="md-more"></ion-icon>

                    </button>

          </div>
      </div>

    </div>

    <div class='viewerCenter' (swipe)="swipeEvent($event)">
      <div class='viewerCenterIn'>
          <img [src]="imgInfo['image_url']">
      </div>
    </div>

    <div class='viewerFooter'>
      <ion-row class="padding5">
        <div class='viewerFooterOpt'>
            <div class='viewerFooterOptIn'>
                <div class='picPro'>
                  <img  [src]="imgInfo['pic_url']">
                </div>
                <div class='infoPro'>
                  <div class='infoProIn'>
                    <div class='infoProIn1'> {{imgInfo['full_name']}}</div>
                    <div class='infoProIn2' (tap)="detail_load()"> Detail</div>
                    </div>
                  <div class='infoProIn0'>
                      {{imgInfo['about']}}
                  </div>
                </div>
              </div>
        </div>

      </ion-row>
     
       
       
        <reaction-temp [activity]="reactStatus"  (reactEmiiter)="loadInitialReactionV()"></reaction-temp>

            
           
             

     
      <ion-row class="padding5 ">
        <ion-col class="padding5 viewInfo" text-center>
           {{imgInfo['add_by']}}  Added
        </ion-col >
        <ion-col class="padding5 viewInfo" text-center>
            {{imgInfo['sug_by']}}  Suggested
        </ion-col>
        <ion-col class="padding5 viewInfo" text-center>
            {{imgInfo['view']}} Viewed
        </ion-col>
      </ion-row>

    </div>

  </div>
  

</ion-content>
