page-notification {

    .messageTime
    {
        font-size: .7em;
        text-align: right;
        padding-top: 8px;
        padding-bottom: 4px;
        padding-right:8px; 
        color:#333;

    }

}
