<ion-header class='mainHeaderTop'>

  <ion-navbar>
      <ion-grid>
          <ion-row>
              <ion-col >MUW</ion-col>
              <ion-col></ion-col>
            
              <ion-col text-center><ion-icon name="custom-icon6" class='iconHeader' (click)="goToSearch()"></ion-icon></ion-col>
              <ion-col text-center ><ion-icon name="custom-icon9" class='iconHeader' (click)="goToMessage()"></ion-icon></ion-col>
              <ion-col text-center ><ion-icon name="custom-icon8" class='iconHeader' (click)="goToRequest()"></ion-icon></ion-col>
              <ion-col text-center ><ion-icon name="custom-icon7" class='iconHeader' (click)="goToNotification()"></ion-icon></ion-col>

          </ion-row>
      </ion-grid>
  </ion-navbar>

</ion-header>



<ion-content class="marginTop">

  <ion-segment  class="SwipedTabs-tabs"  >
    <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
    [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
      {{tab}}
    </ion-segment-button>
  </ion-segment>


  <div id='indicator1' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>

  <ion-slides #SwipedTabsSlider1  (ionSlideDrag)="animateIndicator($event)"
              (ionSlideWillChange)="updateIndicatorPosition()"
              (ionSlideDidChange)="updateIndicatorPosition()"
              (pan)="updateIndicatorPosition()"
              [pager]="false"
        >
    <ion-slide>
      <ion-row>
       
        
        
          <ion-col col-6 col-md-4 col-xl-3 class='frndCnt'  *ngFor="let friend of friendList; let i=index" >
              <div class='updateboxF' >
                <div class='frndBg' [style.background-image]="'url('+friend['bg_url']+')'" >

                </div>
                <div class='frndproCnt'> 
                    <div class='frndproCnt0'>
                      <div class='frndproCnt0In'>
                        <img [src]="friend['pic_url']" />
                      </div>
                    </div>
                    <div class='frndproCnt1'></div>
                    <div class='frndproCnt2'>
                      <button ion-buttom clear (tap)="loadFrndOpt(i)">
                          <ion-icon name="more"></ion-icon>
                      </button>
                    </div>
                </div>
                <div class='frnd_name'> 
                  <div>{{friend['full_name']}}</div> 
                  <div class='frnd_abt'>  {{friend['about']}}</div>
                </div>
               
                
               
              </div>
    
            </ion-col>
        
       
      </ion-row>
    </ion-slide>
    <ion-slide>
        <ion-row>

            <ion-row>
       
        
        
                <ion-col col-6 col-md-4 col-xl-3 class='frndCnt'  *ngFor="let friend of attachList; let i=index" >
                    <div class='updateboxF' >
                      <div class='frndBg' [style.background-image]="'url('+friend['bg_url']+')'" >
      
                      </div>
                      <div class='frndproCnt'> 
                          <div class='frndproCnt0'>
                            <div class='frndproCnt0In'>
                              <img [src]="friend['pic_url']" />
                            </div>
                          </div>
                          <div class='frndproCnt1'></div>
                          <div class='frndproCnt2'>
                            <button ion-buttom clear (tap)="loadAttachOpt(i)">
                                <ion-icon name="more"></ion-icon>
                            </button>
                          </div>
                      </div>
                      <div class='frnd_name'> 
                        <div>{{friend['full_name']}}</div> 
                        <div class='frnd_abt'>  {{friend['about']}}</div>
                      </div>
                     
                      
                     
                    </div>
          
                  </ion-col>
              
             
            </ion-row>
      
            
         </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>

      
              <ion-row>
         
          
          
                  <ion-col col-6 col-md-4 col-xl-3 class='frndCnt'  *ngFor="let friend of attacheList; let i=index" >
                      <div class='updateboxF' >
                        <div class='frndBg' [style.background-image]="'url('+friend['bg_url']+')'" >
        
                        </div>
                        <div class='frndproCnt'> 
                            <div class='frndproCnt0'>
                              <div class='frndproCnt0In'>
                                <img [src]="friend['pic_url']" />
                              </div>
                            </div>
                            <div class='frndproCnt1'></div>
                            <div class='frndproCnt2'>
                              <button ion-buttom clear (tap)="loadAttacheOpt(i)">
                                  <ion-icon name="more"></ion-icon>
                              </button>
                            </div>
                        </div>
                        <div class='frnd_name'> 
                          <div>{{friend['full_name']}}</div> 
                          <div class='frnd_abt'>  {{friend['about']}}</div>
                        </div>
                       
                        
                       
                      </div>
            
                    </ion-col>
                
               
              </ion-row>
        
              
           
          
       </ion-row>
  </ion-slide>
  </ion-slides>
</ion-content>