

<ion-header no-border>

  <ion-navbar>
      <button ion-button clear class='reomve-signIn' (click)="goToBack()"> Cancel</button>
  </ion-navbar>

</ion-header>

<ion-content padding>



  <div>
  <form #forgetPassword="ngForm" (ngSubmit)="forgetPassword(forgetPassword)">

      <ion-list>
   
      <ion-item text-center no-lines>
        
          <h1 class='header-sign-Up'>Reset your password through</h1>
        
      </ion-item>
     
      <ion-item no-lines class='normal-padding' *ngIf="submit.email">  
          <ion-input type="email" placeholder="Email" text-center class='sign-input'  name="forgetPasswordEmail"
          ngModel required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" focus-me></ion-input>
      </ion-item>

      <ion-item no-lines class='normal-padding' *ngIf="!submit.email">  
        <ion-input type="number" placeholder="Phone number" text-center class='sign-input'  name="forgetPasswordPhone"
        ngModel
      required minlength='10' focus-me></ion-input>
    </ion-item>

   
      
      <ion-item no-lines *ngIf="!submit.email">
          <button type="submit" ion-button block round  class='sign-button' [disabled]="!forgetPassword.valid">
              Forget Password
         </button>
      </ion-item>

      <ion-item no-lines *ngIf="submit.email">
        <button type="submit" ion-button block round  class='sign-button' [disabled]="!forgetPassword.valid">
            Forget Password
       </button>
    </ion-item>
     
      

     

    </ion-list>
        
         
         
         
        
      
      

  </form>
</div>



</ion-content>


<ion-footer>
    <button ion-button clear class='reomve-signIn' (click)="changeSubmitWithEmail()" *ngIf="!submit.email"> Use Email instead</button>
    <button ion-button clear class='reomve-signIn' (click)="chanegSubmitWithNumber()" *ngIf="submit.email"> Use Phone Number instead</button>
</ion-footer>
