page-forget-password {


    .reomve-signIn
    {
        letter-spacing: 1px;
        text-transform: none;

    }

    .sign-input
    {
        border:solid 1px #333;
        border-radius: 20px;
    }

    ion-input:focus
    {
        outline: none;
    }


    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
      }


      .header-sign-Up
    {
        
        font-weight: bold;
        letter-spacing: 0.8px;
    }

      .normal-padding
      {
          padding: 10px;
      }

      .item-md .sign-button
      {
          height: 46px;
          font-size: 1.6rem;
          text-transform: none;

      }

     

    .scroll-content
    {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .bg-white
    {
        background-color: white;
    }


    .sign-Up-starter
    {
        letter-spacing: 0.7px
    }

    .sign-Up-starter span{
        color:#488aff;
    }


}
